__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env/
env/
venv/
.venv/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
*.log
*.sqlite3
*.db
.DS_Store
Thumbs.db
.vscode/
*.swp
*.swo
*.bak
*.tmp
node_modules/
test_env/
/.idea/
/.history/
*.orig